* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #020617; /* fallback dark background */
  overflow-x: hidden;
}

#root {
  min-height: 100%;
}
